.authentication__header {
  color: white;
  text-align: center;
}

.authentication {
  width: 90%;
  max-width: 25rem;
  margin: 7rem auto;
  text-align: center;
}

.authentication form {
  margin-bottom: 1rem;
}
.center-auth-form{
  justify-content: center;
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
}